:root{
    --counterBoxColor: #282828;
    --borderColor: #FFF600;
    --increaseButtonColor: #e42626;
    --increaseButtonHoverColor: #FF0000;
    --resetButtonColor: #C3D826;
    --resetButtonHoverColor: #e7ff31;
}
*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(48, 48, 48);
}
.column-container{
    display: grid;
    /* grid-auto-columns: 1fr 1fr 1fr; */
    min-width: 1vh;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
    padding-top: 3%;
}
.column-container h1{
    justify-self: center;
    margin-bottom: 3%;
    color: white;
}
.counter-box{
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-height: 50vh;
    background-color: var(--counterBoxColor);
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    gap: 7%;
}
.display{
    display: flex;
    background-color: white;
    border-radius: 40px;
    width: 20vw;
    height: 13vh;
    align-items: center;
    justify-content: center;
    font-size: clamp(4rem, 5vw, 6rem);
    border: 2px solid var(--borderColor);
    margin-top: 10%;
}
.increaseButton{
    cursor: pointer;
    width: 12vw;
    height: 9vh;
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    background-color: var(--increaseButtonColor);
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 400;
}

.resetButton{
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    background-color: var(--resetButtonColor);
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    font-size: clamp(2rem, 2.5vw, 2.25rem);
}


@media only screen and (hover: hover){
    .increaseButton:hover{
        background-color: var(--increaseButtonHoverColor);
        transform: translate(0, -3px);
        box-shadow: 0px 5px 0px 0px black;
    }
    .resetButton:hover{
        background-color: var(--resetButtonHoverColor);
        transform: translate(0, -3px);
        box-shadow: 0px 5px 0px 0px black;
    }
}

@media only screen and (max-width: 480px){
    .counter-box{
        width: 90vw;
        height: 85vh;
    }
    .display{
        width: 80vw;
        height: 20vh;
    }
    .increaseButton{
        width: 64vw;
        height: 20vh;
    }
    .resetButton{
        width: 45vw;
        height: 20vh
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px){
    .counter-box{
        width: 80vw;
        min-height: 500px;
    }
    .display{
        width: 70vw;
        min-height: 100px;
    }
    .increaseButton{
        margin-top: 8%;
        width: 50vw;
        min-height: 100px;
    }
    .resetButton{
        margin-top: 5%;
        width: 30vw;
        min-height: 70px
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .counter-box{
        width: 86vw;
        height: 75vh;
        gap: 10%;
    }
    .display{
        width: 70vw;
        height: 14vh
    }
    .increaseButton{
        width: 60vw;
        height: 15vh;
    }
    .resetButton{
        width: 35vw;
        height: 15vh;
    }
    
}
@media only screen and (min-width: 1025px) and (max-width: 1366px){
    .counter-box{
        width: 95vw;
        height: 85vh;
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        /* gap: 5px; */
    }
    .display{
        margin-right: 10%;
        grid-column: 2;
        grid-row: 1 / 3;
        width: 40vw;
        height: 70vh;
        margin-top: 0;
    }
    .increaseButton{
        grid-column: 1;
        grid-row: 1;
        margin-left: 10%;
        margin-bottom: -20%;
        width: 45vw;
        height: 20vh;
    }
    .resetButton{
        grid-column: 1;
        grid-row: 2;
        margin-left: 10%;
        margin-top: -20%;
        width: 25vw;
        height: 18vh;
    }
}